﻿@model ezdan_admin.ViewModels.ContentEzdanPlusViewModel

@{
    Layout = "~/Views/Shared/_ezdanLayout.cshtml";
}
@if (ViewBag.CanCreate != null && ViewBag.CanCreate != false)
{
    <h2>Create</h2>
}

@using (Html.BeginForm("CreateEzdanPlus", "Contents", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Ezdan Plus</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EnglishTitle, "English Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArabicTitle, "Arabic Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArabicTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArabicTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr>

        <div class="form-group contentImg">
            @Html.LabelFor(model => model.ImageName, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="/Admin/Assets/images/home/placeholder.jpg" onerror="this.src='/Admin/Assets/images/home/placeholder.jpg'" style="height:20vh" />
                @Html.TextBoxFor(model => model.ImageName, new { type = "file", htmlAttributes = new { @class = "form-control contentImgSelector" } })
                @Html.ValidationMessageFor(model => model.ImageName, ViewBag.imageProblem == true ? "There was an error saving the image." : "", new { @class = "text-danger" })
                @*@if(ViewBag.imageProblem != null)
                {
                    <div>@ViewBag.imageProblem</div>
                }*@
            </div>
        </div>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.EnglishDesc, "English Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EnglishDesc, new { maxlength = 500, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnglishDesc, "", new { @class = "text-danger" })
                @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
            </div>
            
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArabicDesc, "Arabic Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ArabicDesc, new { maxlength = 500, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ArabicDesc, "", new { @class = "text-danger" })
                @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
