﻿@model ezdan_admin.ViewModels.ContentAnnounceViewModel

@{
    Layout = "~/Views/Shared/_ezdanLayout.cshtml";
}
@if (ViewBag.CanCreate != null && ViewBag.CanCreate != false)
{
    <h2>Create</h2>
}

@using (Html.BeginForm("CreateAnnouncement", "Contents", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Promotion</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EnglishTitle, "English Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArabicTitle, "Arabic Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArabicTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArabicTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr>

        <div class="form-group contentImg">
            @Html.LabelFor(model => model.ImageUrl, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="/Admin/Assets/images/home/placeholder.jpg" onerror="this.src='/Admin/Assets/images/home/placeholder.jpg'" style="height:20vh" />
                @Html.TextBoxFor(model => model.ImageUrl, new { type = "file", htmlAttributes = new { @class = "form-control contentImgSelector" } })
                @Html.ValidationMessageFor(model => model.ImageUrl, ViewBag.imageProblem == true ? "There was an error saving the image." : "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group contentImg">
            @Html.LabelFor(model => model.ThumbUrl, "Thumbnail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="/Admin/Assets/images/home/placeholder.jpg" onerror="this.src='/Admin/Assets/images/home/placeholder.jpg'" style="height:20vh" />
                @Html.TextBoxFor(model => model.ThumbUrl, new { type = "file", htmlAttributes = new { @class = "form-control contentImgSelector" } })
                @Html.ValidationMessageFor(model => model.ThumbUrl, ViewBag.thumbProblem == true ? "There was an error saving the thumbnail image." : "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.EnglishDesc, "English Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EnglishDesc, new { maxlength = 500, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EnglishDesc, "", new { @class = "text-danger" })
                @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArabicDesc, "Arabic Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ArabicDesc, new { maxlength = 500, @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ArabicDesc, "", new { @class = "text-danger" })
                @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
            </div>
        </div>
        <hr>

        @*<div class="form-group">
            @Html.LabelFor(model => model.EnglishImageUrl, "English Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArabicImageUrl, "Arabic Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArabicImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArabicImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.EnglishThumbnail, "English Thumbnail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishThumbnail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishThumbnail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArabicThumbnail, "Arabic Thumbnail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArabicThumbnail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArabicThumbnail, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr>

        <div class="form-group">
            @Html.LabelFor(model => model.EnglishDesc, "English Text", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishDesc, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ArabicDesc, "Arabic Text", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArabicDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArabicDesc, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
