﻿@model ezdan_admin.ViewModels.ContentSakinLocationViewModel

@{
    Layout = "~/Views/Shared/_ezdanLayout.cshtml";
}
@if (ViewBag.CanCreate != null && ViewBag.CanCreate != false)
{
    <h2>Create</h2>
}

@using (Html.BeginForm("CreateSakinLocation", "Contents", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Future Project</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.EnglishTitle, "English Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnglishTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnglishTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ArabicTitle, "Arabic Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArabicTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArabicTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr>
        @*<div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="us3-address" placeholder="Enter a location" autocomplete="off">
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input type="text" id="us3-address" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">
                Location
            </label>
            <div class="col-md-10">
                <div style="width:100%;height:400px" id="inspania-map"></div>
            </div>
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.Latitude, "Latitude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", id = "latitude", type = "text" } })
                @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
                @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
            </div>
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.Longitude, "Longitude", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", id = "longitude", type = "text" } })
                @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
                @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
            </div>
        </div>
        <hr>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<script>
    
</script>
