﻿@model ezdan_entities.Content

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Content</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnglishName)
        </dd>

        <dt>
            العنوان
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArabicName)
        </dd>

        @foreach (var item in Model.ContentProperties)
        {
            <dt>
                English @item.Property.Name
            </dt>
            <dd>
                @item.EnglishValue
            </dd>

            <dt>
                Arabic @item.Property.Name
            </dt>
            <dd>
                @item.ArabicValue
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ContentId })</p>
