﻿@model ezdan_admin.ViewModels.ContentEditViewModel




@using (Html.BeginForm("Edit", "Contents", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (ViewBag.Title == null)
        {
            if (Model.Content.Content2 != null)
            {
                <h4>@Model.Content.Content2.EnglishName - Edit</h4>
            }
            else
            {
                <h4>@Model.Content.EnglishName - Edit</h4>
            }
        }
        else
        {
            <h4>@ViewBag.Title - Edit</h4>
        }

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContentId)
        @*@Html.HiddenFor(m => m.ContentEnglishName)
        @Html.HiddenFor(m => m.ContentArabicName)*@

        @if (Model.ContentId == 186)
        {
            @Html.HiddenFor(m => m.ContentEnglishName)
            @Html.HiddenFor(m => m.ContentArabicName)
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ContentEnglishName, "English Title", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContentEnglishName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContentEnglishName, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr>
            <div class="form-group">
                @Html.LabelFor(model => model.ContentArabicName, "Arabic Title", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContentArabicName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContentArabicName, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr>
        }

        @for (int i = 0; i < Model.ContentPropertiesList.Count; i++)
        {
            if (Model.ContentPropertiesList[i].PropertyId != 13)
            {
                
            }
            @Html.HiddenFor(m => m.ContentPropertiesList[i].ContentPropertyId)
            @Html.HiddenFor(m => m.ContentPropertiesList[i].PropertyId)
            @Html.HiddenFor(m => m.ContentPropertiesList[i].ContentId)
            @*@Model.ContentPropertiesList[i].Property.Name*@
            if (Model.ContentPropertiesList[i].PropertyId == 3)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue,
                        Model.ContentId == 186 ? "Banner Image" : "Image",
                        htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="@Model.ContentPropertiesList[i].EnglishValue" style="height:20vh" />
                        <input type="file" id="ImageName" name="ImageName" class="contentImgSelector" />
                        @*@Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, ViewBag.imageProblem == true ? "There was an error saving the image." : "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 4)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Thumbnail", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="@Model.ContentPropertiesList[i].EnglishValue" style="height:20vh" />
                        <input type="file" id="ThumbUrl" name="ThumbUrl" class="contentImgSelector" />
                        @*@Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, ViewBag.imageProblem == true ? "There was an error saving the image." : "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 10)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Phone", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 17)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Fax", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 18)
            {
                <div class="form-group">
                    <label class="control-label col-md-2"></label>
                    @*@Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Post Office Box", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "us3-address", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 19)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Email Address", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 20)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Facebook", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 21)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Twitter", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 22)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Instagram", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 23)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Youtube", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 24)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Whatsapp", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 25)
            {
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 26)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Starting Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "startingdatetimepicker", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 27)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Ending Date", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "endingdatetimepicker", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 29)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Opening Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "openingtimetimepicker", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 30)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Closing Time", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "closingtimetimepicker", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            List<SelectListItem> listItems = new List<SelectListItem>();
            listItems.Add(new SelectListItem { Text = "Sunday", Value = "Sunday" });
            listItems.Add(new SelectListItem { Text = "Monday", Value = "Monday" });
            listItems.Add(new SelectListItem { Text = "Tuesday", Value = "Tuesday" });
            listItems.Add(new SelectListItem { Text = "Wednesday", Value = "Wednesday" });
            listItems.Add(new SelectListItem { Text = "Thursday", Value = "Thursday" });
            listItems.Add(new SelectListItem { Text = "Friday", Value = "Friday" });
            listItems.Add(new SelectListItem { Text = "Saturday", Value = "Saturday" });
            if (Model.ContentPropertiesList[i].PropertyId == 32)
            {
                var selectedDay = listItems.Where(x => x.Value == Model.ContentPropertiesList[i].EnglishValue).First();
                selectedDay.Selected = true;
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Opening Day", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ContentPropertiesList[i].EnglishValue, listItems, new { @class = "form-control" } )
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 33)
            {
                var selectedDay = listItems.Where(x => x.Value == Model.ContentPropertiesList[i].EnglishValue).First();
                selectedDay.Selected = true;
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Closing Day", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.ContentPropertiesList[i].EnglishValue, listItems, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>

                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 34)
            {
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <h4>Email Notification Addresses</h4>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "From/Sender", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 35)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "EDC Program", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 36)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Sales Department", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 37)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Post Office Box", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 38)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "English Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 sakinDescEn">
                        @Html.TextAreaFor(model => model.ContentPropertiesList[i].EnglishValue, new { maxlength = 500, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                        @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].ArabicValue, "Arabic Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" id="sakinDescAr">
                        @Html.TextAreaFor(model => model.ContentPropertiesList[i].ArabicValue, new { maxlength = 500, @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].ArabicValue, "", new { @class = "text-danger" })
                        @*<div class="remaining-chars"><span>100</span> characters remaining</div>*@
                    </div>
                </div>
                <hr>
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 39)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 13)
            {
                @*if (Model.ContentId != 6)
                {
                    <div class="form-group">
                        <label class="control-label col-md-2"></label>
                        <div class="col-md-10">
                            <input type="text" id="us3-address" class="form-control" />
                        </div>
                    </div>
                }*@
                <div class="form-group">
                    <label class="control-label col-md-2">
                        <span>Location</span>
                    </label>            
                    <div class="col-md-10">
                        <div style="width:100%;height:400px" id="inspania-map"></div>
                    </div>
                </div>
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Latitude", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "latitude", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                continue;
            }
            if (Model.ContentPropertiesList[i].PropertyId == 14)
            {
                <div class="form-group hidden">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "Longitude", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", id = "longitude", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                continue;
            }
            if (ViewBag.nonMLProperties != null && Array.IndexOf(ViewBag.nonMLProperties, Model.ContentPropertiesList[i].PropertyId) > -1)
            {
                <div class="form-group contentImg">
                    @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, Model.ContentPropertiesList[i].Property.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr>
                @Html.HiddenFor(m => m.ContentPropertiesList[i].EnglishValue)
                @Html.HiddenFor(m => m.ContentPropertiesList[i].ArabicValue)
                continue;
            }
            <div class="form-group">
                @Html.LabelFor(model => model.ContentPropertiesList[i].EnglishValue, "English " + Model.ContentPropertiesList[i].Property.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContentPropertiesList[i].EnglishValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].EnglishValue, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr>
            <div class="form-group">
                @Html.LabelFor(model => model.ContentPropertiesList[i].ArabicValue, "Arabic " + Model.ContentPropertiesList[i].Property.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ContentPropertiesList[i].ArabicValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContentPropertiesList[i].ArabicValue, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
