﻿@model IEnumerable<ezdan_entities.Content>

<h2>@ViewBag.Title</h2>

@if (ViewBag.CanCreate)
{
    <p>@Html.ActionLink("Create New", "Create", new { id = ViewBag.ContentIdTemp })</p>
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>العنوان</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @if (item.Content1.Count() > 1)
                                            {
                                                <a href="/Admin/Contents/Index/@item.ContentId" />
                                            }
                                            @Html.DisplayFor(modelItem => item.EnglishName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ArabicName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ContentId, parentId = item.ParentId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ContentId }, new { target = "_blank" }) |
                                            @if (ViewBag.CanDelete)
                                            {
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ContentId })
                                            }
                                            @if (item.Content2.ContentId == 1 || (item.Content2.Content2 !=null && item.Content2.Content2.ContentId==4))
                                            {
                                                if (item.Blocked)
                                                {
                                                  @Html.ActionLink("UnBlock", "ToggleBlock", new { id = item.ContentId })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Block", "ToggleBlock", new { id = item.ContentId })

                                                }
                                                if (item.Reported)
                                                {
                                                    <span style="color:red;">REPORTED</span>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>العنوان</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
