﻿@model ezdan_entities.Feedback

@{
    ViewBag.Title = "Details";
}

<h2>Submitted Form Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        @if (Model.Type == 1)
        {
            <dd>
                Suggestions
            </dd>
        }
        else
        {
            <dd> Complaint</dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ContactNumber)*@
            Contact Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        @if (Model.Rating > 0)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>
        }

        <dt>
            @*@Html.DisplayNameFor(model => model.AspNetUser.AccountId)*@
            Account ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.AccountId)
        </dd>

        @if (Model.Date != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        }

        @if (Model.ImageURL != null)
        {
            <dt>
                @*@Html.DisplayNameFor(model => model.ImageURL)*@
                Image
            </dt>
            <dd>
                <div class="suggestionImg">
                    <a href="@Html.DisplayFor(model => model.ImageURL)" target="_blank">
                        <img src="@Html.DisplayFor(model => model.ImageURL)" />
                    </a>
                </div>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Delete", "Delete", new { id = Model.id })
</p>