﻿
@model IEnumerable<ezdan_entities.Feedback>

<h2>Submitted Forms @(ViewBag.type != null ? " - " + @ViewBag.type : "")</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table  class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="hidden">ID</th>
                                    <th>User</th>
                                    <th>Subject</th>
                                    <th>@Html.DisplayNameFor(model => model.ContactNumber)</th>
                                    @*<th>@Html.DisplayNameFor(model => model.Rating)</th>*@
                                    @*<th>@Html.DisplayNameFor(model => model.Type)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="hidden">
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        @if (item.AspNetUser != null)
                                        {
                                            <td>
                                                <a href="~/AspNetUsers/Details/@item.AspNetUser.Id" target="_blank" />
                                                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Guest
                                            </td>
                                        }

                                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ContactNumber)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.Rating)</td>*@

                                        @*@switch (item.Type)
                                        {
                                            case 1:
                                            <td>
                                                Suggestion
                                            </td>
                                                break;
                                            case 2:
                                            <td>
                                                Complaint
                                            </td>
                                                break;
                                            case 3:
                                            <td>
                                                Inquiry
                                            </td>
                                            break;
                                        }*@

                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        <td>@Html.ActionLink("Details", "Details", new { id = item.id }, new { target = "_blank" }) | @Html.ActionLink("Delete", "Delete", new { id = item.id })</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>User</th>
                                    <th>Subject</th>
                                    <th>@Html.DisplayNameFor(model => model.ContactNumber)</th>
                                    @*<th>@Html.DisplayNameFor(model => model.Rating)</th>*@
                                    @*<th>@Html.DisplayNameFor(model => model.Type)</th>*@
                                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
