﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Home Images</h2>

<hr/>
<div>
    
    <div>
        @using (Html.BeginForm("Index", "Home", new { filename = "main.jpg" }, FormMethod.Post, new {  imageId = "0",enctype = "multipart/form-data" }))
        {
            <label for="file">Home Image:</label>
            <br />
            <img src="/Admin/Assets/images/home/main.jpg" onerror="this.src = '/Admin/Assets/images/home/placeholder.jpg';" style="height:20vh;" />
            <br />
            <br />
            <input type="file" name="file" id="file"/><br>
            <input type="submit" value="Upload Image" class="btn btn-default" />
            <br><br>
            @ViewBag.Message
        }
    </div>

</div>
<hr />

<div style="column-count: 3;">
    @using (Html.BeginForm("Index", "Home", new { filename = "slider_1.jpg" }, FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
    <label for="file">Slider Image 1:</label>
    <br />
    <img src="/Admin/Assets/images/home/slider_1.jpg" onerror="this.src = '/Admin/Assets/images/home/placeholder.jpg';" style="height:20vh;" />
    <br />
    <br />
    <input type="file" name="file" id="file" /><br>
    <input type="submit" value="Upload Image" class="btn btn-default"/>
    <br><br>
    @ViewBag.Message
}
<hr />

@using (Html.BeginForm("Index", "Home",new { filename = "slider_2.jpg" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Slider Image 2:</label>
    <br />
    <img src="/Admin/Assets/images/home/slider_2.jpg" onerror="this.src = '/Admin/Assets/images/home/placeholder.jpg';" style="height:20vh;" />
    <br />
    <br />
    <input type="file" name="file" id="file"  /><br>
    <input type="submit" value="Upload Image" class="btn btn-default" />
    <br><br>
    @ViewBag.Message
}
<hr />

@using (Html.BeginForm("Index", "Home", new { filename = "slider_3.jpg" }, FormMethod.Post, new { enctype = "multipart/form-data"}))
{
    <label for="file">Slider Image 3:</label>
    <br />
    <img src="/Admin/Assets/images/home/slider_3.jpg" onerror="this.src = '/Admin/Assets/images/home/placeholder.jpg';" style="height:20vh;" />
    <br />
    <br />
    <input type="file" name="file" /><br>
    <input type="submit" value="Upload Image" class="btn btn-default"/>
    <br><br>
    @ViewBag.Message
}
<hr />
</div>
