﻿@model ezdan_entities.Holiday

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Holiday</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HolidayStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HolidayId }) 
</p>
