﻿@model IEnumerable<ezdan_entities.Holiday>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="DTClass table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HolidayStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HolidayEnd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@String.Format("{0:d/M/yyyy}", item.HolidayStart)</p>
            </td>
            <td>
                <p>@String.Format("{0:d/M/yyyy}", item.HolidayEnd)</p>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HolidayId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HolidayId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HolidayId })
            </td>
        </tr>
    }

</table>
