﻿@model IEnumerable<ezdan_entities.PushNotification>

<h2>Ezdan Push Notifications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>Title</th>
                                    <th>Body</th>
                                    <th>Sent By</th>
                                    <th>Sent At</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="hidden">
                                            @Html.DisplayFor(modelItem => item.PushNotificationId)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Body)</td>
                                        <td>
                                            @if (@item.CreatedBy != null)
                                            {
                                                <a href="/Admin/Admin/Details/@item.CreatedBy" target="_blank" />
                                            }
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                        
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>Title</th>
                                    <th>Body</th>
                                    <th>Sent By</th>
                                    <th>Sent At</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>