﻿@model IEnumerable<ezdan_entities.AdminUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ezdanLayout.cshtml";
}

<h2>Admins</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th></th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                                        @if (!item.IsActive)
                                        {
                                            <td>
                                                @Html.ActionLink("Activate", "Activate", new { id = item.UserId })
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.UserId })
                                            </td>
                                        }
                                        @*<td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.UserId })
                                        </td>*@

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
