﻿
@using ezdan_admin.Models;
@using ezdan_admin.Helpers;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ezdan Admin | Dashboard</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="~/content/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <!-- Gritter -->
    <link href="~/content/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">
    <link href="~/content/js/plugins/datetimepicker/jquery.datetimepicker.css" rel="stylesheet">
    <link href="~/content/css/animate.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="~/Content/img/ezdan_realestate_logo.ico" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="~/content/img/ezdan_realestate_logo.png" />
                            </span>
                            @*<a class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold">Ezdan Admin</strong>
                                        </span>
                                    </span>
                                </a>*@
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li class="divider"></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            EZ
                        </div>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-users"></i>
                            <span class="nav-label">User Managment</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("Manage", "ChangePassword")">@Html.ActionLink("Change Admin Password", "ChangePassword", "Manage")</li>
                            <li class="@Html.IsSelected("AspNetUsers", "Index")">@Html.ActionLink("View Users List ", "Index", "AspNetUsers")</li>
                        </ul>
                    </li>
                    @if(User.Identity.IsAuthenticated && Convert.ToBoolean(User.Identity.IsSuperAdmin()) == true){ 
                    <li>
                        <a>
                            <i class="fa fa-users"></i>
                            <span class="nav-label">Admin Users Managment</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("Admin", "Index")">@Html.ActionLink("View Admin List ", "Index", "Admin")</li>
                        </ul>
                    </li>
                    }
                   
                    <li>
                        <a>
                            <i class="fa fa-cubes"></i>
                            <span class="nav-label">Content Management</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            @*<li class="">@Html.ActionLink("Home Page", "Index", "Home", new { id = 1 }, null)</li>*@
                            @*<li class="">@Html.ActionLink("FAQ", "Index", "Contents", new { id = 1 }, null)</li>*@
                            <li class="@Html.IsSelected("Contents", "Edit","186")">@Html.ActionLink("Home", "Edit", "Contents", new { id = 186 }, null)</li>
                            <li>
                                <a>
                                    <span class="nav-label">Announcements</span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li class="@Html.IsSelected("Contents", "Index","2")">@Html.ActionLink("Promotions", "Index", "Contents", new { id = 2 }, null)</li>
                                    <li class="@Html.IsSelected("Contents", "Index","10")">@Html.ActionLink("Upcoming Events", "Index", "Contents", new { id = 10 }, null)</li>
                                </ul>
                            </li>
                            @*<li class="">@Html.ActionLink("Discover", "Index", "Contents", new { id = 3 }, null)</li>*@
                            @*<li class="">@Html.ActionLink("Classified", "Index", "Contents", new { id = 4 }, null)</li>*@
                            @*<li class="">@Html.ActionLink("Sakin Service", "Index", "Contents", new { id = 5 }, null)</li>*@
                            <li class="">@*@Html.ActionLink("Sakin Service", "Edit", "Contents", new { id = 5 }, null)*@</li>
                            <li>
                                <a>
                                    <span class="nav-label">Sakin Service</span>
                                </a>
                                <ul class="nav nav-third-level">
                                    <li class="@Html.IsSelected("Contents", "Edit","5")">@Html.ActionLink("Details", "Edit", "Contents", new { id = 5 }, null)</li>
                                    <li class="@Html.IsSelected("Contents", "Index","182")">@Html.ActionLink("Locations", "Index", "Contents", new { id = 182 }, null)</li>
                                </ul>
                            </li>
                            <li class="@Html.IsSelected("Contents", "Index","26")">@Html.ActionLink("Ezdan Plus", "Index", "Contents", new { id = 26 }, null)</li>
                            @*<li class="">@Html.ActionLink("Future Projects", "Index", "Contents", new { id = 170 }, null)</li>*@
                            <li class="@Html.IsSelected("Contents", "Edit","6")">@Html.ActionLink("Contact Us", "Edit", "Contents", new { id = 6 }, null)</li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-calendar"></i>
                            <span class="nav-label">Appointments</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("Appointment", "Index")">@Html.ActionLink("View Appointments", "Index", "Appointment")</li>
                            <li class="@Html.IsSelected("Holidays", "Index")">@Html.ActionLink("Add Holidays", "Index", "Holidays")</li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-reply"></i>
                            <span class="nav-label">Submitted Forms</span><span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("Feedbacks", "Index","1")">@Html.ActionLink("Suggestions", "Index", "Feedbacks", new { id = 1 }, null)</li>
                            <li class="@Html.IsSelected("Feedbacks", "Index","2")">@Html.ActionLink("Complaints", "Index", "Feedbacks", new { id = 2 }, null)</li>
                            <li class="@Html.IsSelected("Feedbacks", "Index","3")">@Html.ActionLink("Inquiries", "Index", "Feedbacks", new { id = 3 }, null)</li>
                        </ul>
                    <li>
                        <a>
                            <i class="fa fa-plus-circle"></i>
                            <span class="nav-label">Plus Inquiries</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("PlusInquiries", "Index")">@Html.ActionLink("UnReviewed Inquirires", "Index", "PlusInquiries")</li>
                            <li class="@Html.IsSelected("PlusInquiries", "IndexReviewed")">@Html.ActionLink("Reviewed Inquirires", "IndexReviewed", "PlusInquiries")</li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class="fa fa-bell"></i>
                            <span class="nav-label">Push Notifications</span> <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li class="@Html.IsSelected("PushNotifications", "Index")">@Html.ActionLink("Notifications List", "Index", "PushNotifications")</li>
                            <li class="@Html.IsSelected("PushNotifications", "Index")">@Html.ActionLink("Send Notification", "Create", "PushNotifications")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    @*<div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="search_results.html">
                                <div class="form-group">
                                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                                </div>
                            </form>
                    </div>*@
                    <ul class="nav navbar-top-links navbar-right">
                        @*<li>
                                <span class="m-r-sm text-muted welcome-message">Welcome to Ezdan Admin.</span>
                            </li>*@
                        @*<li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-envelope"></i>  <span class="label label-warning">16</span>
                                </a>
                                <ul class="dropdown-menu dropdown-messages">
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="~/content/img/a7.jpg">
                                            </a>
                                            <div class="media-body">
                                                <small class="pull-right">46h ago</small>
                                                <strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="~/content/img/a4.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right text-navy">5h ago</small>
                                                <strong>Chris Johnatan Overtunk</strong> started following <strong>Monica Smith</strong>. <br>
                                                <small class="text-muted">Yesterday 1:21 pm - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="dropdown-messages-box">
                                            <a href="profile.html" class="pull-left">
                                                <img alt="image" class="img-circle" src="~/content/img/profile.jpg">
                                            </a>
                                            <div class="media-body ">
                                                <small class="pull-right">23h ago</small>
                                                <strong>Monica Smith</strong> love <strong>Kim Smith</strong>. <br>
                                                <small class="text-muted">2 days ago at 2:30 am - 11.06.2014</small>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="mailbox.html">
                                                <i class="fa fa-envelope"></i> <strong>Read All Messages</strong>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts">
                                    <li>
                                        <a href="mailbox.html">
                                            <div>
                                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="profile.html">
                                            <div>
                                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                                <span class="pull-right text-muted small">12 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="grid_options.html">
                                            <div>
                                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                                <span class="pull-right text-muted small">4 minutes ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="text-center link-block">
                                            <a href="notifications.html">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@

                        <li>
                            @if (Request.IsAuthenticated)
                            {
                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i>Log off</a>

                                }
                            }
                        </li>

                    </ul>
                </nav>
            </div>
            @*<div class="row  border-bottom white-bg dashboard-header">
                    <div class="col-md-3">
                        <h2>Welcome Amelia</h2>
                        <small>You have 42 messages and 6 notifications.</small>
                        <ul class="list-group clear-list m-t">
                            <li class="list-group-item fist-item">
                                <span class="pull-right">
                                    09:00 pm
                                </span>
                                <span class="label label-success">1</span> Please contact me
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    10:16 am
                                </span>
                                <span class="label label-info">2</span> Sign a contract
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    08:22 pm
                                </span>
                                <span class="label label-primary">3</span> Open new shop
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    11:06 pm
                                </span>
                                <span class="label label-default">4</span> Call back to Sylvia
                            </li>
                            <li class="list-group-item">
                                <span class="pull-right">
                                    12:00 am
                                </span>
                                <span class="label label-primary">5</span> Write a letter to Sandra
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <div class="flot-chart dashboard-chart">
                            <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                        </div>
                        <div class="row text-left">
                            <div class="col-xs-4">
                                <div class=" m-l-md">
                                    <span class="h4 font-bold m-t block">$ 406,100</span>
                                    <small class="text-muted m-b block">Sales marketing report</small>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <span class="h4 font-bold m-t block">$ 150,401</span>
                                <small class="text-muted m-b block">Annual sales revenue</small>
                            </div>
                            <div class="col-xs-4">
                                <span class="h4 font-bold m-t block">$ 16,822</span>
                                <small class="text-muted m-b block">Half-year revenue margin</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="statistic-box">
                            <h4>
                                Project Beta progress
                            </h4>
                            <p>
                                You have two project with not compleated task.
                            </p>
                            <div class="row text-center">
                                <div class="col-lg-6">
                                    <canvas id="doughnutChart2" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                    <h5>Kolter</h5>
                                </div>
                                <div class="col-lg-6">
                                    <canvas id="doughnutChart" width="80" height="80" style="margin: 18px auto 0"></canvas>
                                    <h5>Maxtor</h5>
                                </div>
                            </div>
                            <div class="m-t">
                                <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                            </div>
                        </div>
                    </div>
                </div>*@
            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        @RenderBody()
                    </div>
                    <div class="footer">
                        @*<div class="pull-right">
                                10GB of <strong>250GB</strong> Free.
                            </div>*@
                        <div>
                            <strong>Copyrights</strong> © 2017 Ezdan Real Estate. All Rights Reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-chat-box fadeInRight animated">
            <div class="heading" draggable="true">
                <small class="chat-date pull-right">
                    02.19.2015
                </small>
                Small chat
            </div>
            <div class="~/content">
                <div class="left">
                    <div class="author-name">
                        Monica Jackson <small class="chat-date">
                            10:02 am
                        </small>
                    </div>
                    <div class="chat-message active">
                        Lorem Ipsum is simply dummy text input.
                    </div>
                </div>
                <div class="right">
                    <div class="author-name">
                        Mick Smith
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        Lorem Ipsum is simpl.
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Alice Novak
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        Check this stock char.
                    </div>
                </div>
                <div class="right">
                    <div class="author-name">
                        Anna Lamson
                        <small class="chat-date">
                            11:24 am
                        </small>
                    </div>
                    <div class="chat-message">
                        The standard chunk of Lorem Ipsum
                    </div>
                </div>
                <div class="left">
                    <div class="author-name">
                        Mick Lane
                        <small class="chat-date">
                            08:45 pm
                        </small>
                    </div>
                    <div class="chat-message active">
                        I belive that. Lorem Ipsum is simply dummy text.
                    </div>
                </div>

            </div>
            <div class="form-chat">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">
                            Send
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div id="right-sidebar" class="animated">
            <div class="sidebar-container">
                <ul class="nav nav-tabs navs-3">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1">
                            Notes
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-2">
                            Projects
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-3">
                            <i class="fa fa-gear"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="tab-1" class="tab-pane active">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-comments-o"></i> Latest Notes</h3>
                            <small><i class="fa fa-tim"></i> You have 10 new message.</small>
                        </div>
                        <div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a1.jpg">
                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        There are many variations of passages of Lorem Ipsum available.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a2.jpg">
                                    </div>
                                    <div class="media-body">
                                        The point of using Lorem Ipsum is that it has a more-or-less normal.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a3.jpg">
                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        Mevolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a4.jpg">
                                    </div>
                                    <div class="media-body">
                                        Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a8.jpg">
                                    </div>
                                    <div class="media-body">
                                        All the Lorem Ipsum generators on the Internet tend to repeat.
                                        <br>
                                        <small class="text-muted">Today 4:21 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a7.jpg">
                                    </div>
                                    <div class="media-body">
                                        Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                        <br>
                                        <small class="text-muted">Yesterday 2:45 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a3.jpg">
                                        <div class="m-t-xs">
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                            <i class="fa fa-star text-warning"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below.
                                        <br>
                                        <small class="text-muted">Yesterday 1:10 pm</small>
                                    </div>
                                </a>
                            </div>
                            <div class="sidebar-message">
                                <a href="#">
                                    <div class="pull-left text-center">
                                        <img alt="image" class="img-circle message-avatar" src="~/content/img/a4.jpg">
                                    </div>
                                    <div class="media-body">
                                        Uncover many web sites still in their infancy. Various versions have.
                                        <br>
                                        <small class="text-muted">Monday 8:37 pm</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="tab-2" class="tab-pane">
                        <div class="sidebar-title">
                            <h3> <i class="fa fa-cube"></i> Latest projects</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>
                        <ul class="sidebar-list">
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                    There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Business valuation</h4>
                                    It is a long established fact that a reader will be distracted.

                                    <div class="small">Completion with: 22%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar progress-bar-warning"></div>
                                    </div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Contract with Company </h4>
                                    Many desktop publishing packages and web page editors.

                                    <div class="small">Completion with: 48%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="small pull-right m-t-xs">9 hours ago</div>
                                    <h4>Meeting</h4>
                                    By the readable content of a page when looking at its layout.

                                    <div class="small">Completion with: 14%</div>
                                    <div class="progress progress-mini">
                                        <div style="width: 14%;" class="progress-bar progress-bar-info"></div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="label label-primary pull-right">NEW</span>
                                    <h4>The generated</h4>
                                    <!--<div class="small pull-right m-t-xs">9 hours ago</div>-->
                                    There are many variations of passages of Lorem Ipsum available.
                                    <div class="small">Completion with: 22%</div>
                                    <div class="small text-muted m-t-xs">Project end: 4:00 pm - 12.06.2014</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="sidebar-title">
                            <h3><i class="fa fa-gears"></i> Settings</h3>
                            <small><i class="fa fa-tim"></i> You have 14 projects. 10 not completed.</small>
                        </div>
                        <div class="setings-item">
                            <span>
                                Show notifications
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example">
                                    <label class="onoffswitch-label" for="example">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Disable Chat
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" checked class="onoffswitch-checkbox" id="example2">
                                    <label class="onoffswitch-label" for="example2">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Enable history
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example3">
                                    <label class="onoffswitch-label" for="example3">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Show charts
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example4">
                                    <label class="onoffswitch-label" for="example4">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Offline users
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example5">
                                    <label class="onoffswitch-label" for="example5">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Global search
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" checked name="collapsemenu" class="onoffswitch-checkbox" id="example6">
                                    <label class="onoffswitch-label" for="example6">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="setings-item">
                            <span>
                                Update everyday
                            </span>
                            <div class="switch">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="example7">
                                    <label class="onoffswitch-label" for="example7">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-content">
                            <h4>Settings</h4>
                            <div class="small">
                                I belive that. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                And typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                Over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/content/js/jquery-2.1.1.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/content/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Flot -->
    <script src="~/content/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/content/js/plugins/flot/jquery.flot.pie.js"></script>
    <!-- Peity -->
    <script src="~/content/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/content/js/demo/peity-demo.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/content/js/inspinia.js"></script>
    <script src="~/content/js/plugins/pace/pace.min.js"></script>
    <!-- jQuery UI -->
    <script src="~/content/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- GITTER -->
    <script src="~/content/js/plugins/gritter/jquery.gritter.min.js"></script>
    <!-- Sparkline -->
    <script src="~/content/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- Sparkline demo data  -->
    <script src="~/content/js/demo/sparkline-demo.js"></script>
    <!-- ChartJS-->
    <script src="~/content/js/plugins/chartJs/Chart.min.js"></script>
    <!-- Toastr -->
    <script src="~/content/js/plugins/toastr/toastr.min.js"></script>
    <!-- DataTables -->
    <script src="~/content/js/plugins/dataTables/datatables.min.js"></script>
    <!-- DateTimePicker -->
    
    <script src="~/content/js/plugins/datetimepicker/build/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDfcs0_fBC2_Uk1WHTdHsBBeJfMiLETbz0&libraries=places"></script>
    <script src="~/Content/js/plugins/jquery-locationpicker/dist/locationpicker.jquery.js"></script>
    @*<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>*@
    <!-- Theme -->
    <script src="~/content/js/inspinia.js"></script>

    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                order: [[0, "desc"]],
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' }
                    //,{ extend: 'copy' },
                    //{ extend: 'pdf', title: 'ExampleFile' },

                    //{
                    //    extend: 'print',
                    //    customize: function (win) {
                    //        $(win.document.body).addClass('white-bg');
                    //        $(win.document.body).css('font-size', '10px');

                    //        $(win.document.body).find('table')
                    //                .addClass('compact')
                    //                .css('font-size', 'inherit');
                    //    }
                    //}
                ]

            });

        });
        //$(document).ready(function () {
        //    $('.dataTables-example').DataTable({
        //        pageLength: 25,
        //        responsive: true,
        //        dom: 'BTfgitp',
        //        buttons: [
        //            {
        //                extend: 'excel',
        //                text: 'Export excel',
        //                className: 'exportExcel',
        //                filename: 'Export excel',
        //                exportOptions: {
        //                    modifier: {
        //                        page: 'current'
        //                    }
        //                }
        //            }
        //        ]
        //    });
        //});
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Scripts.Render("~/bundles/fullcalendarjs")
    @Styles.Render("~/Content/fullcalendarcss")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.css" rel="stylesheet" />
    <script src="~/Assets/adminExtension.js"></script>

    @*<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>*@
    @*

        <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>*@
    @*<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>*@

</body>
</html>
