﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezdan Admin | Forgot Password Confirmation</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/content/css/animate.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                @*<h1 class="logo-name">EZDAN</h1>*@
                <img src="~/Content/img/ezdan_realestate_logo.ico" />
            </div>


            <p>
                Please check your email to reset your password. @Html.ActionLink("Back to Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>

        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/content/js/jquery-3.1.1.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
</body>
</html>