﻿


@using ezdan_admin.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezdan Admin | Login</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/content/css/animate.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>
                @*<h1 class="logo-name">EZDAN</h1>*@
                <img src="~/Content/img/ezdan_realestate_logo.ico"/>
            </div>
            <h3>Welcome to Ezdan Real Estate admin panel</h3>
            <p>Login in. To see it in action.</p>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>
            }
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/content/js/jquery-3.1.1.min.js"></script>
    <script src="~/content/js/bootstrap.min.js"></script>
</body>
</html>

