﻿@model IEnumerable<ezdan_entities.Appointment>

@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_ezdanLayout.cshtml";
}

@*<div class="row">
    <div class="col-md-8">*@

        <div id="calendar"></div>
    @*</div>
    <div class="col-md-4">*@

        <form class="form-horizontal" style="margin-top:50px;" id="CalendarForm">
            <div class="form-group">
                <label class="control-label">Weekends: </label>
                <div class="row">
                    <div class="col-xs-6">
                        <select class="form-control" id="firstWeekEnd" name="first">
                            <option value="-1">None</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                            <option value="0">Sunday</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <select class="form-control" id="secondWeekEnd" name="second">
                            <option value="-1">None</option>
                            <option value="1">Monday</option>
                            <option value="2">Tuesday</option>
                            <option value="3">Wednesday</option>
                            <option value="4">Thursday</option>
                            <option value="5">Friday</option>
                            <option value="6">Saturday</option>
                            <option value="0">Sunday</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label class="control-label ">Business Hours:</label>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="control-label" style="float:left">From:</p>
                        <select class="form-control" id="startHour" name="startHour">
                            <option value="06:00:00">06:00 AM</option>
                            <option value="06:30:00">06:30 AM</option>
                            <option value="07:00:00">07:00 AM</option>
                            <option value="07:30:00">07:30 AM</option>
                            <option value="08:00:00">08:00 AM</option>
                            <option value="08:30:00">08:30 AM</option>
                            <option value="09:00:00">09:00 AM</option>
                            <option value="09:30:00">09:30 AM</option>
                            <option value="10:00:00">10:00 AM</option>
                            <option value="10:30:00">10:30 AM</option>
                            <option value="11:00:00">11:00 AM</option>
                            <option value="11:30:00">11:30 AM</option>
                            <option value="12:00:00">12:00 PM</option>
                            <option value="12:30:00">12:30 PM</option>
                            <option value="13:00:00">01:00 PM</option>
                            <option value="13:30:00">01:30 PM</option>
                            <option value="14:00:00">02:00 PM</option>
                            <option value="14:30:00">02:30 PM</option>
                            <option value="15:00:00">03:00 PM</option>
                            <option value="15:30:00">03:30 PM</option>
                            <option value="16:00:00">04:00 PM</option>
                            <option value="16:30:00">04:30 PM</option>
                            <option value="17:00:00">05:00 PM</option>
                            <option value="17:30:00">05:30 PM</option>
                            <option value="18:00:00">06:00 PM</option>
                            <option value="18:30:00">06:30 PM</option>
                            <option value="19:00:00">07:00 PM</option>
                            <option value="19:30:00">07:30 PM</option>
                            <option value="20:00:00">08:00 PM</option>
                            <option value="20:30:00">08:30 PM</option>
                            <option value="21:00:00">09:00 PM</option>
                            <option value="21:30:00">09:30 PM</option>
                            <option value="22:00:00">10:00 PM</option>
                            <option value="22:30:00">10:30 PM</option>
                            <option value="23:00:00">11:00 PM</option>
                            <option value="23:30:00">11:30 PM</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <p class="control-label" style="float:left">To:</p>
                        <select class="form-control" id="endHour" name="endHour">
                            <option value="06:00:00">06:00 AM</option>
                            <option value="06:30:00">06:30 AM</option>
                            <option value="07:00:00">07:00 AM</option>
                            <option value="07:30:00">07:30 AM</option>
                            <option value="08:00:00">08:00 AM</option>
                            <option value="08:30:00">08:30 AM</option>
                            <option value="09:00:00">09:00 AM</option>
                            <option value="09:30:00">09:30 AM</option>
                            <option value="10:00:00">10:00 AM</option>
                            <option value="10:30:00">10:30 AM</option>
                            <option value="11:00:00">11:00 AM</option>
                            <option value="11:30:00">11:30 AM</option>
                            <option value="12:00:00">12:00 PM</option>
                            <option value="12:30:00">12:30 PM</option>
                            <option value="13:00:00">01:00 PM</option>
                            <option value="13:30:00">01:30 PM</option>
                            <option value="14:00:00">02:00 PM</option>
                            <option value="14:30:00">02:30 PM</option>
                            <option value="15:00:00">03:00 PM</option>
                            <option value="15:30:00">03:30 PM</option>
                            <option value="16:00:00">04:00 PM</option>
                            <option value="16:30:00">04:30 PM</option>
                            <option value="17:00:00">05:00 PM</option>
                            <option value="17:30:00">05:30 PM</option>
                            <option value="18:00:00">06:00 PM</option>
                            <option value="18:30:00">06:30 PM</option>
                            <option value="19:00:00">07:00 PM</option>
                            <option value="19:30:00">07:30 PM</option>
                            <option value="20:00:00">08:00 PM</option>
                            <option value="20:30:00">08:30 PM</option>
                            <option value="21:00:00">09:00 PM</option>
                            <option value="21:30:00">09:30 PM</option>
                            <option value="22:00:00">10:00 PM</option>
                            <option value="22:30:00">10:30 PM</option>
                            <option value="23:00:00">11:00 PM</option>
                            <option value="23:30:00">11:30 PM</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <p class="control-label" style="float:left">Break From:</p>
                        <select class="form-control" id="breakFrom" name="breakFrom">
                            <option value="06:00:00">06:00 AM</option>
                            <option value="06:30:00">06:30 AM</option>
                            <option value="07:00:00">07:00 AM</option>
                            <option value="07:30:00">07:30 AM</option>
                            <option value="08:00:00">08:00 AM</option>
                            <option value="08:30:00">08:30 AM</option>
                            <option value="09:00:00">09:00 AM</option>
                            <option value="09:30:00">09:30 AM</option>
                            <option value="10:00:00">10:00 AM</option>
                            <option value="10:30:00">10:30 AM</option>
                            <option value="11:00:00">11:00 AM</option>
                            <option value="11:30:00">11:30 AM</option>
                            <option value="12:00:00">12:00 PM</option>
                            <option value="12:30:00">12:30 PM</option>
                            <option value="13:00:00">01:00 PM</option>
                            <option value="13:30:00">01:30 PM</option>
                            <option value="14:00:00">02:00 PM</option>
                            <option value="14:30:00">02:30 PM</option>
                            <option value="15:00:00">03:00 PM</option>
                            <option value="15:30:00">03:30 PM</option>
                            <option value="16:00:00">04:00 PM</option>
                            <option value="16:30:00">04:30 PM</option>
                            <option value="17:00:00">05:00 PM</option>
                            <option value="17:30:00">05:30 PM</option>
                            <option value="18:00:00">06:00 PM</option>
                            <option value="18:30:00">06:30 PM</option>
                            <option value="19:00:00">07:00 PM</option>
                            <option value="19:30:00">07:30 PM</option>
                            <option value="20:00:00">08:00 PM</option>
                            <option value="20:30:00">08:30 PM</option>
                            <option value="21:00:00">09:00 PM</option>
                            <option value="21:30:00">09:30 PM</option>
                            <option value="22:00:00">10:00 PM</option>
                            <option value="22:30:00">10:30 PM</option>
                            <option value="23:00:00">11:00 PM</option>
                            <option value="23:30:00">11:30 PM</option>

                        </select>
                    </div>
                    <div class="col-xs-6">
                        <p class="control-label" style="float:left">Break To:</p>
                        <select class="form-control" id="breakTo" name="breakTo">
                            <option value="06:00:00">06:00 AM</option>
                            <option value="06:30:00">06:30 AM</option>
                            <option value="07:00:00">07:00 AM</option>
                            <option value="07:30:00">07:30 AM</option>
                            <option value="08:00:00">08:00 AM</option>
                            <option value="08:30:00">08:30 AM</option>
                            <option value="09:00:00">09:00 AM</option>
                            <option value="09:30:00">09:30 AM</option>
                            <option value="10:00:00">10:00 AM</option>
                            <option value="10:30:00">10:30 AM</option>
                            <option value="11:00:00">11:00 AM</option>
                            <option value="11:30:00">11:30 AM</option>
                            <option value="12:00:00">12:00 PM</option>
                            <option value="12:30:00">12:30 PM</option>
                            <option value="13:00:00">01:00 PM</option>
                            <option value="13:30:00">01:30 PM</option>
                            <option value="14:00:00">02:00 PM</option>
                            <option value="14:30:00">02:30 PM</option>
                            <option value="15:00:00">03:00 PM</option>
                            <option value="15:30:00">03:30 PM</option>
                            <option value="16:00:00">04:00 PM</option>
                            <option value="16:30:00">04:30 PM</option>
                            <option value="17:00:00">05:00 PM</option>
                            <option value="17:30:00">05:30 PM</option>
                            <option value="18:00:00">06:00 PM</option>
                            <option value="18:30:00">06:30 PM</option>
                            <option value="19:00:00">07:00 PM</option>
                            <option value="19:30:00">07:30 PM</option>
                            <option value="20:00:00">08:00 PM</option>
                            <option value="20:30:00">08:30 PM</option>
                            <option value="21:00:00">09:00 PM</option>
                            <option value="21:30:00">09:30 PM</option>
                            <option value="22:00:00">10:00 PM</option>
                            <option value="22:30:00">10:30 PM</option>
                            <option value="23:00:00">11:00 PM</option>
                            <option value="23:30:00">11:30 PM</option>

                        </select>
                    </div>
                </div>
               

            </div>

            <div class="form-group">
                <button type="submit" id="submitForm" class="btn btn-block">Update Info</button>
            </div>
        </form>
<div class="container">
    <!-- Trigger the modal with a button -->
    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Choose Action</h4>
                </div>
                <div class="modal-body appointment-details">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="font-bold">Starts:</p>
                        </div>
                        <div class="col-md-7" id="starts"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="font-bold">Ends:</p>
                        </div>
                        <div class="col-md-7" id="ends"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="font-bold">Title:</p>
                        </div>
                        <div class="col-md-7" id="title"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="font-bold">Full Name:</p>
                        </div>
                        <div class="col-md-7" id="name"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="font-bold">Mobile Number:</p>
                        </div>
                        <div class="col-md-7" id="mobile"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p class="font-bold">Email:</p>
                        </div>
                        <div class="col-md-7" id="email"></div>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button style="float:left" type="button" class="btn btn-danger" id="ConfirmAppointment">Confirm Appointment</button>
                    <button style="float:left" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    <button style="float:left" type="button" class="btn btn-danger" id="CancelAppointment">Cancel Appointment</button>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="PopUp" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p id="PopUpText"></p>
                </div>
                <div class="modal-footer">
                    <button style="float:left" type="button" class="btn btn-danger" id="ConfirmDrop">Confirm</button>
                    <button style="float:left" type="button" class="btn btn-default" id="CloseDrop" data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="alert" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p id="Message"></p>
                </div>
                <div class="modal-footer">
                    <button style="float:left" type="button" class="btn btn-default" id="alertBtn"  data-dismiss="modal">Close</button>

                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{

<script type="text/javascript">
// <![CDATA[
function CancelAppointment(date) {
    $.ajax({
        url: "Appointment/CancelAppointment/",
        type: "POST",
        data: 'id=' + date.id,
        processData: false,
        success: function (data, textStatus) {
            $("#myModal").modal('hide');
            $("#alert").modal();
            $('#Message').text("Request Successful");
            $('#alertBtn').click(function (e) {
                e.preventDefault();
                location.reload()
            });

        },
        error: function (xhr, textStatus, errorThrown) {
            $("#myModal").modal('hide');
            $("#alert").modal();
            $('#Message').text("Request Failed");
        }
    });
}

function ConfirmAppointment(date) {
    $.ajax({
        url: "Appointment/ConfirmAppointment/",
        type: "POST",
        data: 'id=' + date.id,
        processData: false,
        success: function (data, textStatus) {
            $("#myModal").modal('hide');
            $("#alert").modal();
            $('#Message').text("Request Successful");
            $('#alertBtn').click(function (e) {
                e.preventDefault();
                location.reload();
            });

        },
        error: function (xhr, textStatus, errorThrown) {
            $("#myModal").modal('hide');
            $("#alert").modal();
            $('#Message').text("Request Failed");
        }
    });
}
var weekEnds =[];
var businessHours = [];

$.ajax({
    url: "Appointment/getWeekEnds",
    type: 'POST',
    async: false,
    datatype: "json",
    cache: false,
    timeout: 30000,
    error: function () {
        return true;
    },
    success: function (msg) {
        weekEnds = msg;
        if (parseFloat(msg)) {
            return false;
        } else {
            return true;
        }
    }
});

$.ajax({
    url: "Appointment/getBusinessHours",
    type: 'POST',
    async: false,
    datatype: "json",
    cache: false,
    timeout: 30000,
    error: function () {
        return true;
    },
    success: function (msg) {
        businessHours = msg;
        if (parseFloat(msg)) {
            return false;

        } else {
            //console.log(businessHours[0]);
            return true;
        }
    }
});

var start = businessHours[0];
var end = businessHours[1];
var breakFrom = businessHours[2];
var breakTo = businessHours[3];
var holidayFrom = businessHours[4];
var holidayTo = businessHours[5];

$(document).ready(function () {
    $('#calendar').fullCalendar({
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        theme: true,
        defaultView: 'month',
        editable: true,
        height: 'auto',
        hiddenDays: weekEnds,
        businessHours:
        {
            start: '10:00',
            end: '15:00',
            dow: [6]
        },
        minTime: start,
        maxTime: end,
        defaultEventMinutes: 60,
        allDaySlot: false,
        eventRender:function (event, element, view) {
            element.find('.fc-title').append("<br/>" +"Email: "+ event.email+"</br>"+"Mobile: "+event.mobile);
        },
        eventAfterRender: function (event, element, view) {
            if (event.color == "green") {
                element.css('background-color', '#168405');
            } else {
                element.css('background-color', '#c12127');
                element.find('.fc-event-title').append("<br/>" +"Email: "+ event.email+"</br>"+"Mobile: "+event.mobile);
            }
        },
        titleFormat: 'YYYY-MM-DD',
        events: "Appointment/GetDiaryEvents/",
        eventClick: function (date, jsEvent, view) {
            //console.log(date)
            if (view.name == 'month') {
                //console.log(date.start.format())
                $('#calendar').fullCalendar('changeView', 'agendaDay')
                $('#calendar').fullCalendar('gotoDate', date.start);
            } else {
                //console.log('not month');
                //console.log(jsEvent);
                $("#myModal").modal();
                var elem = $('.appointment-details');
                elem.find('#starts').text(date.start.format('YYYY-MM-DD HH:mm'));
                elem.find('#ends').text(date.end.format('YYYY-MM-DD HH:mm'));
                elem.find('#title').text(date.title);
                elem.find('#name').text(date.name);
                elem.find('#mobile').text(date.mobile);
                elem.find('#email').text(date.email);
                $('#CancelAppointment').click(function (e) {
                    e.preventDefault();
                    CancelAppointment(date);
                });
                $('#ConfirmAppointment').click(function (e) {
                    e.preventDefault();
                    ConfirmAppointment(date);
                });
            }
        },
        eventDrop: function (event, delta, revertFunc) {
            $("#PopUp").modal();
            $('#PopUpText').text(event.title + " was dropped on " + event.start.format());
            $('#CloseDrop').click(function (e) {
                revertFunc();
            });
            $('#ConfirmDrop').click(function (e) {
                $("#PopUp").modal('hide');
                $.ajax({
                    url: "Appointment/EditAppointment/",
                    type: "POST",
                    data: 'id=' + event.id + '&date=' + event.start.format('YYYY/MM/DD HH:mm:ss'),
                    processData: false,
                    success: function (data, textStatus) {
                        $("#alert").modal();
                        $('#Message').text("Request Successful");
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $("#alert").modal();
                        $('#Message').text("Request Failed");
                    }
                });
            });
        }
    });
});

$("#firstWeekEnd").change(function () {
    //console.log($('#firstWeekEnd').val());
});

$(function () {
    $("#CalendarForm").on('submit', function (e) {
        e.preventDefault() // prevent the form's normal submission
        var dataToPost = $(this).serialize()
        $.post("Appointment/SaveCalendarSettings", dataToPost)
        .done(function (response, status, jqxhr) {
            //console.log(status);
            if (status == "success") {
                $("#alert").modal();
                $('#Message').text("Calendar Settings have been updated successfully");
                $('#alertBtn').click(function (e) {
                    e.preventDefault();
                    location.reload()
                });
            }
        })
        .fail(function (jqxhr, status, error) {
            $("#alert").modal();
            $('#Message').text("An error has been occured");
        })
    })
})

$('#breakFrom').val(breakFrom);
$('#breakTo').val(breakTo);
$('#startHour').val(start);
$('#endHour').val(end);
$('#firstWeekEnd').val(weekEnds[0].toString());
$('#secondWeekEnd').val(weekEnds[1].toString());
$('#holidayFrom').attr('value', holidayFrom);
$('#holidayTo').attr('value', holidayTo);
    // ]]>
</script>

}