﻿@model IEnumerable<ezdan_entities.AspNetUser>

<h2>Users</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>Account</th>
                                    <th>Name</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>Mobile</th>
                                    <th>Contract #</th>
                                    <th>Unit</th>
                                    <th>Registered On</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="hidden">@Html.DisplayFor(modelItem => item.RegisteredOn)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AccountId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Title)  @Html.DisplayFor(modelItem => item.FullName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ContractNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UnitId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.RegisteredOn)</td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { target = "_blank" }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>Account</th>
                                    <th>Name</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>Mobile</th>
                                    <th>Contract #</th>
                                    <th>Unit</th>
                                    <th>Registered On</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>