﻿@model ezdan_entities.PlusInquiry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlusInquiry</h4>
    <hr />
    <div class="row">
        <div class="col-lg-9">
            <div class="wrapper wrapper-content animated fadeInUp">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <dl>
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Email)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.ContactNumber)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.ContactNumber)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.Details)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.Details)
                                    </dd>

                                    <dt>
                                        @Html.DisplayNameFor(model => model.AspNetUser.AccountId)
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.AspNetUser.AccountId)
                                    </dd>
                                    <dt>
                                        Reviewed
                                    </dt>
                                    @if (Model.IsReviewed != true)
                                    {
                                        <dd>
                                            No
                                        </dd>
                                    }
                                    else
                                    {
                                        <dd>
                                            Yes
                                        </dd>
                                    }
                                </dl>
                            </div>
                            @if (Model.IsReviewed != true)
                            {
                                @Html.ActionLink("Set Reviewed", "SetReviewed", new { id = Model.Id })
                            }
                            else
                            {
                                @Html.ActionLink("Set to UnReviewed", "SetUnReviewed", new { id = Model.Id })
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

