﻿@model IEnumerable<ezdan_entities.PlusInquiry>

<h2>Ezdan Plus Inquiries</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>Account</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>Mobile</th>
                                    <th>Service</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                               @foreach (var item in Model)
                               {
                                <tr>
                                    <td class="hidden">
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.AspNetUser.AccountId)</td>
                                    <td>
                                        @if (@item.AspNetUser!=null)
                                        {
                                            <a href="/Admin/AspNetUsers/Details/@item.AspNetUser.Id" target="_blank" />
                                        }
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.ContactNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Service)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Set Reviewed", "SetReviewed", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { target = "_blank" }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                               }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="hidden"></th>
                                    <th>Account</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>Mobile</th>
                                    <th>Service</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>